@using MVCSuppliers.Models
@model SupplierVM

@{
    ViewBag.Title = "ViewSupplierDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <br />
    <div class="col-md-3 text-center">
        @Html.LabelFor(model => Model.SupplierData.CompanyName)
        <div class="form-group">
            @Html.DisplayFor(model => Model.SupplierData.CompanyName)
        </div>
    </div>
    <div class="col-md-3 text-center">
        @Html.LabelFor(model => Model.SupplierData.ContactName)
        <div class="form-group">
            @Html.DisplayFor(model => Model.SupplierData.ContactName)
        </div>
    </div>
    <div class="col-md-3 text-center">
        @Html.LabelFor(model => Model.SupplierData.ContactTitle)
        <div class="form-group">
            @Html.DisplayFor(model => Model.SupplierData.ContactTitle)
        </div>
    </div>
    <div class="col-md-3 text-center">
        @Html.LabelFor(model => Model.SupplierData.Address)
        <div class="form-group">
            @Html.DisplayFor(model => Model.SupplierData.Address)
        </div>
    </div>
    <div class="col-md-3 text-center">
        @Html.LabelFor(model => Model.SupplierData.City)
        <div class="form-group">
            @Html.DisplayFor(model => Model.SupplierData.City)
        </div>
    </div>
    <div class="col-md-3 text-center">
        @Html.LabelFor(model => Model.SupplierData.Region)
        <div class="form-group">
            @Html.DisplayFor(model => Model.SupplierData.Region)
        </div>
    </div>
    <div class="col-md-3 text-center">
        @Html.LabelFor(model => Model.SupplierData.PostalCode)
        <div class="form-group">
            @Html.DisplayFor(model => Model.SupplierData.PostalCode)
        </div>
    </div>
    <div class="col-md-3 text-center">
        @Html.LabelFor(model => Model.SupplierData.Country)
        <div class="form-group">
            @Html.DisplayFor(model => Model.SupplierData.Country)
        </div>
    </div>
    <div class="col-md-3 text-center">
        @Html.LabelFor(model => Model.SupplierData.Phone)
        <div class="form-group">
            @Html.DisplayFor(model => Model.SupplierData.Phone)
        </div>
    </div>
    <div class="col-md-3 text-center">
        @Html.LabelFor(model => Model.SupplierData.Fax)
        <div class="form-group">
            @Html.DisplayFor(model => Model.SupplierData.Fax)
        </div>
    </div>
    <div class="col-md-3 text-center">
        @Html.LabelFor(model => Model.SupplierData.HomePage)
        <div class="form-group">
            @Html.DisplayFor(model => Model.SupplierData.HomePage)
        </div>
    </div>
</div>

<br />

<table class="table">
    <thead>
        <tr>
            <th>
                ProductName
            </th>
            <th>
                Quantity Per Unit
            </th>
            <th>
                Unit Price
            </th>
            <th>
                Units in Stock
            </th>
            <th>
                Units On Order
            </th>
            <th>
                Reorder Level
            </th>
            <th>
                Discontinued
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (ProductPO product in Model.ProductsBySupplier)
        {
        <tr>
            <td>
                @product.ProductName
            </td>
            <td>
                @product.QuantityPerUnit
            </td>
            <td>
                @product.UnitPrice
            </td>
            <td>
                @product.UnitsInStock
            </td>
            <td>
                @product.UnitsOnOrder
            </td>
            <td>
                @product.ReorderLevel
            </td>
            <td>
                @product.Discontinued
            </td>
        </tr>
        }
    </tbody>
</table>
